@font-face {
    font-family: 'Jacques Francois Shadow';
    src: url(./fonts/JacquesFrancoisShadow-Regular.ttf);
}
@font-face {
    font-family: 'Original Surfer';
    src: url(./fonts/OriginalSurfer-Regular.ttf);
}
@font-face {
    font-family: 'Play';
    src: url(./fonts/Play-Regular.ttf);
}

.p1{
    font-family: 'Jacques Francois Shadow';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.p2{
    font-family: 'Original Surfer';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.p3{
    font-family: 'Play';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: justify;

}